---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./noticies/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			table {
				margin-top: 2rem;
			}
			tr td:last-child, tr th:last-child {
				text-align: right;
			}
		</style>
	</head>
	<body>
		<Header />
		<main class="container">
			<table>
				<thead>
					<tr>
						<th>Titular de la noticia</th>
						<th>Publicat</th>
					</tr>
				</thead>
				<tbody>
				{posts.map((post) => (
					<tr>
						<td>
							<a href={post.url}>{post.frontmatter.title}</a>
							</td>
							<td>
								<time datetime={post.frontmatter.pubDate}>
									{new Date(post.frontmatter.pubDate).toLocaleDateString('ca-es')}
								</time>
							</td>
					</tr>
				))}
				</tbody>
			</table>
		</main>
		<Footer />
	</body>
</html>

<style>

</style>