---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob('./noticies/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			time {
				font-size: small;
			}
		</style>
	</head>
	<body>
		<Header />
		<main class="container">
			<h2>Notícies</h2>
			{posts.map((post) => (
				<p class="mt-4">
					<a href={post.url}>{post.frontmatter.title}</a><br/>
					<time datetime={post.frontmatter.pubDate}
						class="text-gray-400">
					{new Date(post.frontmatter.pubDate).toLocaleDateString('ca-es')}
					</time>
				</p>
			))}
		</main>
		<Footer />
	</body>
</html>

