---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
	content: {
		title: string;
    categoria: string;
		description: string;
    temporada: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
    fitxa?: string;
	};
}

const {
	content: { title, categoria, description, temporada, pubDate, updatedDate, heroImage, fitxa },
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="grid grid-rows-[auto_1fr_auto] min-h-screen">
		<Header />
		<main class="container">
      <h2>{title} - Temporada {temporada}</h2>

			<article>
        {heroImage && (
						<img
						width={720}
						height={360}
						src={heroImage}
						alt=""
						class="mx-auto"
						/>
				)}

        <p>Categoria: <span class="uppercase text-black">{categoria}</span></p>
				{pubDate && <div class="text-gray-500 text-sm">Publicació: <time>{pubDate}</time></div>}
				{updatedDate && <div>Ultima modificació: <time>{updatedDate}</time></div>}
				
        <hr class="border-t-2 border-blue-300 my-4"/>

        {fitxa && (
          <a href={fitxa} target="_blank" class="text-blue-500 underline">Fitxa</a>
        )}
				<slot />
        
			</article>
      <a href="/equips" class="text-blue-500 underline">Altres equips</a>
		</main>
		<Footer />
	</body>
</html>
